<div class="container">

    <app-chat-header></app-chat-header>
    <div class="messages__container">
  <!--    почему c ng-container  мерцаний нету -->
      <ng-container *ngIf="user$ | async as user">
        <app-chat-message
          *ngFor="let message of messages$ | async"
          [ngClass]="user.uid === message.senderId ? 'message--sent' : 'message--received'"
          [message]="message"
          [isReceived]="user.uid!==message.senderId"
          (onEditMessage)="editMessage=$event"
        ></app-chat-message>
      </ng-container>
    </div>

    <app-chat-input
      [messageToEdit]="editMessage"
    ></app-chat-input>

</div>




