.container{
  max-width: 656px;
  max-height: 960px;

  height: 100vh;
  width: 100%;

  margin: 0 auto;

  background-color: white;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container app-chat-input{
  margin-top: auto;
}
.messages__container{
  overflow: auto;
  display: flex;
  flex-direction: column;
}

